body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    font-family: 'Poppins', sans-serif;
}

.glass-card {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.btn-love {
    background: #ff4b7d;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.btn-love:hover {
    transform: scale(1.1);
    background: #ff2e63;
}
