<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Processing Payment</title>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body style="margin:0;background:#ff758c;display:flex;justify-content:center;align-items:center;height:100vh;color:white;font-family:Poppins,sans-serif;">

<h2>Redirecting to Secure Payment...</h2>

<script>
var options = {
    "key": "{{ key }}",
    "amount": "9900",
    "currency": "INR",
    "name": "Proposal 2026",
    "order_id": "{{ order_id }}",
    "handler": function (response){
        window.location.href = "/success/{{ custom_id }}";
    }
};
var rzp1 = new Razorpay(options);
rzp1.open();
</script>

</body>
</html>
