<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Success 💖</title>
<style>
body{
margin:0;
font-family:Poppins,sans-serif;
background:linear-gradient(135deg,#ff758c,#ff7eb3);
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
text-align:center;
color:white;
}

.card{
width:100%;
max-width:420px;
background:rgba(255,255,255,0.2);
padding:30px;
border-radius:20px;
backdrop-filter:blur(15px);
}

a{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:white;
color:#ff2e63;
border-radius:30px;
text-decoration:none;
}
</style>
</head>

<body>

<div class="card">
<h1>Payment Successful 💖</h1>
<p>Your proposal link has been sent via Email.</p>
<!--<a href="/">Send Another Proposal</a>-->
</div>

</body>
</html>
